In [151]:
import pandas as pd

In [184]:
df = pd.read_csv('../data/pek_data_2024.11.csv')
df_inv = pd.read_csv('../data/cleaned_eng_investments.csv')

In [185]:
df_inv

,Unnamed: 0,index,code,type_of_activity,country,2014_total,2014_direct,2015_total,2015_direct,2016_total,...,2019_total,2019_direct,2020_total,2020_direct,2021_total,2021_direct,2022_total,2022_direct,2023_totoal,2023_direct
0,0,1,1,"crop and animal production, hunting and relate...",Argentina,5638.9,4978.4,12504.2,12504.2,3975.1,...,747.1,971.3,42.7,42.7,3505.9,3505.9,190.2,190.2,835.3,835.3
1,1,2,1,"crop and animal production, hunting and relate...",Lebanon,NaN,NaN,NaN,NaN,NaN,...,18.5,33.9,4.7,4.7,19.2,19.2,28.0,28.0,33.8,33.8
2,2,3,1,"crop and animal production, hunting and relate...",Russian Federation,157.5,176.3,8.3,NaN,130.0,...,310.4,304.9,181.7,182.5,263.5,238.0,178.2,190.8,437.2,437.2
3,3,4,3,fishing and aquaculture,Russian Federation,NaN,NaN,NaN,NaN,NaN,...,122.9,122.9,28.2,28.2,209.2,209.2,45.5,45.5,52.2,52.2
4,4,5,7,mining of metal ores,"Virgin Islands, British",275.6,275.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1496.4,1496.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,229,230,93,sports activities and amusement and recreation...,Russian Federation,451.0,394.2,205.5,216.4,17.1,...,13.2,13.2,428.4,428.4,98.8,98.8,83.3,83.3,309.8,309.8
230,230,231,93,sports activities and amusement and recreation...,United Kingdom,743.0,324.5,511.0,NaN,244.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,231,232,94,activities of membership organisations,United States,NaN,NaN,5.0,5.0,14.0,...,2.2,2.2,2.3,2.3,NaN,NaN,NaN,NaN,NaN,NaN
232,232,233,96,other personal service activities,Russian Federation,NaN,NaN,NaN,NaN,NaN,...,43.3,35.5,65.7,37.6,96.3,78.5,43.5,24.9,790.5,790.5
233,233,234,96,other personal service activities,Other countries,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.7,NaN

In [186]:
df_inv['code'] = df_inv['code'].astype(str)

In [187]:
columns_to_sum = [
    '2014_total', '2014_direct', '2015_total', '2015_direct',
    '2016_total', '2016_direct', '2017_total', '2017_direct',
    '2018_total', '2018_direct', '2019_total', '2019_direct',
    '2020_total', '2020_direct', '2021_total', '2021_direct',
    '2022_total', '2022_direct', '2023_totoal', '2023_direct'
]

grouped_df = df_inv.groupby('type_of_activity').agg(
    {
        'code': 'first',  # or use 'list' to get all codes per activity
        '2014_total': 'sum',
        '2014_direct': 'sum',
        '2015_total': 'sum',
        '2015_direct': 'sum',
        '2016_total': 'sum',
        '2016_direct': 'sum',
        '2017_total': 'sum',
        '2017_direct': 'sum',
        '2018_total': 'sum',
        '2018_direct': 'sum',
        '2019_total': 'sum',
        '2019_direct': 'sum',
        '2020_total': 'sum',
        '2020_direct': 'sum',
        '2021_total': 'sum',
        '2021_direct': 'sum',
        '2022_total': 'sum',
        '2022_direct': 'sum',
        '2023_totoal': 'sum',
        '2023_direct': 'sum'
    }
).reset_index()

grouped_df

,type_of_activity,code,2014_total,2014_direct,2015_total,2015_direct,2016_total,2016_direct,2017_total,2017_direct,...,2019_total,2019_direct,2020_total,2020_direct,2021_total,2021_direct,2022_total,2022_direct,2023_totoal,2023_direct
0,Rental and leasing activities,77,0.0,0.0,0.0,0.0,746.1,582.3,65.6,66.5,...,4.7,4.7,20.5,16.1,67.6,67.6,12.9,7.1,58.7,58.7
1,accommodation,55,4503.2,3531.1,7749.4,4959.7,38188.8,36850.5,7414.0,3041.6,...,6596.4,5246.2,3706.2,2423.8,7761.1,7551.6,3908.2,4288.1,7965.0,5599.7
2,activities auxiliary to financial services and...,66,73.3,73.3,109.5,109.5,48.3,48.3,0.0,0.0,...,129.3,129.3,0.0,0.0,14.0,14.0,9.3,9.3,156.6,156.6
3,activities of head offices: management consult...,70,10.0,10.0,7.6,7.6,381.7,98.8,10.7,9.3,...,2.6,2.6,0.4,0.4,20.7,12.1,131.0,131.0,3.2,3.2
4,activities of membership organisations,94,0.0,0.0,5.0,5.0,14.0,14.0,13.9,13.9,...,2.2,2.2,2.3,2.3,0.0,0.0,0.0,0.0,0.0,0.0
5,air transport,51,17809.0,97.7,34550.3,0.0,8775.8,135.5,7831.6,271.9,...,1137.1,9153.9,16514.4,11315.0,20396.7,20201.2,14463.9,17346.2,28166.9,28629.6
6,civil engineering,42,0.0,0.0,0.0,0.0,361.3,225.2,211.3,222.7,...,799.9,804.2,529.4,359.9,6936.7,6682.6,33.2,57.5,668.2,668.2
7,"computer programming, consultancy and related ...",62,6375.9,6375.9,4506.8,4577.6,1753.8,1753.8,1214.0,1214.0,...,62.6,245.9,1170.9,933.4,1680.5,1735.0,2017.3,1996.2,2139.9,2123.3
8,construction of buildings,41,27941.1,6501.3,27097.5,799.0,9046.1,0.0,1820.6,89.6,...,904.6,828.0,936.3,936.3,1067.1,1064.5,903.2,902.1,6844.6,6835.5
9,"crop and animal production, hunting and relate...",1,5796.4,5154.7,12512.5,12504.2,4105.1,3510.5,3529.9,2940.9,...,1076.0,1310.1,229.1,229.9,3788.6,3763.1,396.4,409.0,1306.3,1306.3
10,"electricity, gas, steam and conditioning supply",35,29527.6,35096.4,47454.8,56943.7,81103.5,25532.6,17687.9,40050.3,...,156723.2,42377.4,72990.6,27727.5,138370.5,31170.9,78475.2,52144.0,55419.8,26902.9
11,"financial service activities, except insurance...",64,22.0,22.0,761.0,761.0,119.7,119.7,366.4,366.4,...,339.8,339.8,0.8,0.8,33.9,33.9,298.9,298.9,102037.8,102037.8
12,fishing and aquaculture,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,122.9,122.9,28.2,28.2,209.2,209.2,45.5,45.5,52.2,52.2
13,food and beverage service activities,56,0.0,0.0,0.0,0.0,0.0,0.0,751.1,0.0,...,389.3,389.3,62.4,62.4,361.1,361.1,1449.1,1449.1,187.8,187.8
14,gambling and betting activities,92,0.0,0.0,135.4,135.4,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8205.1,0.0
15,human health activities,86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,63.4,0.0,0.0,0.0,110.8,0.0
16,information service activities,63,422.2,0.0,34.8,0.0,26.4,0.0,12.6,11.5,...,19.6,0.0,27.6,9.1,60.2,10.6,74.5,7.3,399.0,2.2
17,land transport and via pipelines,49,1043.5,864.0,297.6,13.0,1233.1,591.5,771.1,183.7,...,1636.5,1114.2,1794.0,1865.7,13543.9,1285.9,3461.2,2316.4,9993.0,432.7
18,legal and accounting activities,69,80.1,122.9,79.8,3.4,4.7,10.7,19.6,4.0,...,74.2,34.0,47.9,29.4,143.7,92.9,403.2,38.7,515.8,508.1
19,manufacture of basic metals,24,18368.4,14763.2,62002.5,63235.1,28985.6,10429.6,7446.6,6855.0,...,17854.1,11363.5,14160.4,11097.0,14614.7,17147.4,12707.8,6891.2,22995.0,20213.0
20,manufacture of basic pharmaceutical products a...,21,496.8,496.8,6570.6,6114.6,0.0,0.0,0.0,0.0,...,238.0,238.0,0.0,0.0,1133.6,1133.6,0.5,0.5,101.4,101.4
21,manufacture of beverages,11,20251.1,21946.1,10713.6,10628.1,8608.8,7874.9,13127.0,13026.8,...,4460.7,3005.9,3851.3,2320.5,4758.3,4231.4,8156.0,1921.5,16583.6,13857.8
22,manufacture of chemicals and chemical products,20,0.0,0.0,1190.4,1190.4,211.3,211.3,563.6,563.6,...,174.9,174.9,147.4,147.4,0.0,0.0,66.6,66.6,760.8,760.8
23,"manufacture of computer, electronic and optica...",26,505.8,505.8,595.9,595.9,891.2,891.2,159.6,159.6,...,59.7,59.7,76.4,76.4,88.2,88.2,0.2,0.2,38.1,38.1
24,manufacture of electrical equipment,27,355.8,420.6,96.2,56.9,54.9,71.4,75.1,63.7,...,96.7,96.7,250.2,231.3,230.7,210.0,204.6,202.2,113.2,112.7
25,"manufacture of fabricated metal products, exce...",25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.7,1.7,31.7,31.7,17.1,17.1,16.3,16.3,67.7,67.7
26,manufacture of food products,10,714.7,232.4,3168.7,1615.8,2611.3,2427.3,985.4,1039.9,...,1270.5,1270.5,1201.6,1257.4,2404.6,567.9,2488.3,1199.1,1291.4,681.1
27,manufacture of leather and related products,15,3.1,3.1,1.7,1.7,2.8,2.8,2.2,2.2,...,2.6,2.6,0.8,0.8,3.2,3.2,2.7,2.7,0.0,0.0
28,manufacture of machinery and equipment n.e.c.,28,67.8,67.8,47.1,47.1,108.5,108.5,79.1,79.1,...,24.3,24.3,205.2,205.2,37.2,37.2,612.7,612.7,1990.5,0.0
29,manufacture of other non-metallic mineral prod...,23,0.0,0.0,4.1,0.0,383.6,0.0,590.3,0.0,...,600.4,0.0,393.4,244.7,584.3,82.6,756.6,142.8,1011.3,172.1
30,manufacture of tobacco products,12,1232.4,211.7,2789.5,2123.3,6922.1,0.0,3425.3,0.0,...,1108.2,0.0,181.6,0.0,10341.7,0.0,7090.9,0.0,4422.5,0.0
31,manufacture of wearing apparel,14,513.3,450.7,226.4,20.3,594.8,252.8,203.0,9.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,838.8,0.0
32,mining of metal ores,7,54133.9,1070.4,4584.2,3006.8,34100.8,17845.5,21857.3,2995.7,...,1608.4,1601.0,60916.8,24773.4,82599.0,56603.0,95075.1,89646.6,88616.9,62354.5
33,mining support service activities,9,3128.8,2691.1,3666.5,3371.5,40924.0,41852.8,107978.5,107940.3,...,0.0,0.0,4800.5,4800.5,1098.9,1098.9,8058.8,8058.8,25530.6,25530.6
34,other manufacturing,32,63.1,0.0,80.2,1.6,367.1,4.0,55.8,7.4,...,280.4,245.7,92.8,87.1,232.8,233.6,606.1,598.8,27854.2,555.1
35,other mining and quarrying,8,11641.6,17685.2,56548.2,57991.9,19938.5,7347.7,2707.8,13109.7,...,13669.1,2213.2,34.6,34.6,1879.1,1091.7,459.5,584.3,290.2,543.1
36,other personal service activities,96,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,43.3,35.5,65.7,37.6,96.3,78.5,43.5,24.9,822.2,790.5
37,"other professional, scientific and technical a...",74,296.3,226.8,2.5,2.5,0.0,0.0,0.0,0.0,...,0.0,0.0,79.1,79.1,88.6,88.6,23.3,23.3,0.0,0.0
38,paper and cardboard production,17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3847.2,0.0
39,real estate activities,68,10948.5,10948.5,6374.2,6374.2,9063.0,9063.0,11644.3,9723.9,...,16948.8,9526.1,12011.8,10649.4,17994.1,16631.7,65551.9,32608.1,6601.7,7333.3
40,repair and installation of machinery and equip...,33,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,110.4,0.0,235.7,0.0
41,"retail trade, except of motor vehicles and mot...",47,126.7,74.0,14813.8,88.7,3073.9,298.2,1390.5,721.4,...,2975.4,869.5,774.6,329.4,1126.1,186.1,1155.9,1046.8,12419.5,2913.3
42,scientific research and development,72,129.6,129.6,126.7,126.7,13.5,13.5,9.1,9.1,...,999.0,840.2,2009.1,1894.4,1488.7,1515.2,1508.0,1468.1,1037.3,1036.3
43,services to buildings and landscape activities,81,30.7,30.7,1180.0,1180.0,860.4,860.4,548.3,548.3,...,218.6,218.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,sports activities and amusement and recreation...,93,1194.0,718.7,716.5,216.4,261.3,0.0,529.3,5.2,...,13.2,13.2,428.4,428.4,98.8,98.8,83.3,83.3,309.8,309.8
45,telecommunications,61,18905.1,12588.4,55840.2,54966.6,36270.0,19373.2,9585.6,13805.4,...,14504.4,11765.5,52833.4,51450.9,6555.5,2429.8,20322.6,6107.7,76382.0,4898.9
46,"travel agency, tour operator and other rezerva...",79,0.1,0.1,10.1,10.1,0.0,0.0,13.6,13.6,...,7.0,7.0,0.0,0.0,0.0,0.0,31.1,31.1,63.5,63.5
47,warehousing and support activities for transpo...,52,62.1,61.2,46.1,45.8,1.1,1.8,0.1,0.0,...,1.4,0.0,0.0,0.0,610.9,610.9,2957.4,2957.4,5462.1,5462.1
48,"water collection, treament and supply",36,305.9,305.9,1739.4,1739.4,2827.7,2827.7,4953.0,4953.0,...,2615.5,2615.5,2037.3,2037.3,2104.5,2104.5,3496.9,3496.9,5070.4,5070.4
49,wholesale and retail trade and repair of motor...,45,85.9,85.9,76.8,76.8,0.0,0.0,0.1,0.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50,"wholesale, trade, except of motor vehicles and...",46,2331.6,1127.7,4405.6,1368.0,1036.5,1947.8,4444.8,4601.7,...,5656.5,5224.7,8230.2,5687.5,4116.7,6808.9,10032.6,5568.0,13828.9,4787.3

In [188]:
sector_codes = list(grouped_df['code'])

In [189]:
df.head()

,ՀՎՀՀ,Անվանում,Կազմակերպա-իրավական տեսակ,Իրավաբանական հասցե,Գործունեության տեսակ,Գրանցման ամսաթիվ,Կարգավիճակ,Հարկման ռեժիմ,Հարկման ռեժիմում հաշվառվելու ամսաթիվ
0,67167546,ՍԱՄՎԵԼ ՍԱՀԱԿՅԱՆ,Ինքնուրույն հարկ վճարող,Կ. ԴԵՄԻՐՃՅԱՆ Փ. Ց6-3 37,NaN,2024-11-06,Նոր գրանցված,NaN,NaN
1,35333955,ՍՈՆԱ ՎԻՐԱԲՅԱՆ,Անհատ ձեռնարկատեր (ԱՁ),ՄԱՅԻՍԻ 9-Ի Փ. 51/1 44,NaN,2024-11-06,Նոր գրանցված,NaN,NaN
2,49870314,ԱՂԱՍԻ ԿԱՐԱՊԵՏՅԱՆ,Անհատ ձեռնարկատեր (ԱՁ),ՍՈՒՐԲ ՄԵՍՐՈՊ ՄԱՇՏՈՑ Փ. 8Ա 9,NaN,2024-11-06,Նոր գրանցված,NaN,NaN
3,71103485,ԳԱԳԻԿ ՄԱՆԹԱՇՅԱՆ,Անհատ ձեռնարկատեր (ԱՁ),ԳԱՅԻ Փ. 78 37,NaN,2024-11-06,Նոր գրանցված,NaN,NaN
4,43316488,ՎԱՆ ԱՎԱԳՅԱՆ,Անհատ ձեռնարկատեր (ԱՁ),1 Փ. 32,NaN,2024-11-06,Նոր գրանցված,NaN,NaN

In [190]:
df = df.dropna(subset=['Գործունեության տեսակ'])

In [191]:
df['sector_code'] = df['Գործունեության տեսակ'].str.extract(r'^[A-Z](\d+)')[0].str.lstrip('0')

In [192]:
df['sector_code'].unique()

array(['69', '45', '47', '66', '1', '55', '10', '56', '96', '79', '46',
       '22', '74', '41', '43', '82', '31', '17', '62', '68', '93', '52',
       '32', '25', '33', '23', '49', '13', '53', '86', '77', '81', '95',
       '90', '73', '28', '72', '9', '65', '84', '63', '20', '58', '85',
       '16', '71', '88', '14', '78', '98', '59', '15', '61', '3', '70',
       '11', '38', '18', '2', '8', '42', '24', '36', '92', '27', '64',
       '75', '35', '21', '30', '19', '94', '91', '80', '29', '37', '99',
       '97', '51', '60', '26', '87', nan, '50', '5', '7', '39', '12', '6'],
      dtype=object)

In [193]:
df['sector_code'] = df['sector_code'].astype(str)

In [194]:
df['Կարգավիճակ'].unique()

array(['Հաշվառումից հանված', 'Ժամանակավոր դադարեցված', 'Գործող',
       'Նոր գրանցված', 'Մահացած', 'Սնանկ', 'Լուծարված',
       'Սխալմամբ տրամադրված', 'Հաշվառումից հանված ՀՄԿ',
       'Լուծարված-միավորված', 'Լուծարման գործընթացում',
       'Լուծարված-միաձուլված', 'Սնանկության վտանգի վարույթում գտնվող'],
      dtype=object)

In [195]:
df = df.loc[df['Կարգավիճակ'].isin(['Գործող', 'Նոր գրանցված'])].reset_index(drop=True)

In [196]:
df = df.loc[df['sector_code'].isin(sector_codes)].reset_index(drop=True)

In [197]:
sector_codes

['77',
 '55',
 '66',
 '70',
 '94',
 '51',
 '42',
 '62',
 '41',
 '1',
 '35',
 '64',
 '3',
 '56',
 '92',
 '86',
 '63',
 '49',
 '69',
 '24',
 '21',
 '11',
 '20',
 '26',
 '27',
 '25',
 '10',
 '15',
 '28',
 '23',
 '12',
 '14',
 '7',
 '9',
 '32',
 '8',
 '96',
 '74',
 '17',
 '68',
 '33',
 '47',
 '72',
 '81',
 '93',
 '61',
 '79',
 '52',
 '36',
 '45',
 '46']

In [198]:
df.tail()

,ՀՎՀՀ,Անվանում,Կազմակերպա-իրավական տեսակ,Իրավաբանական հասցե,Գործունեության տեսակ,Գրանցման ամսաթիվ,Կարգավիճակ,Հարկման ռեժիմ,Հարկման ռեժիմում հաշվառվելու ամսաթիվ,sector_code
148930,35053,«ՎՐԱՑԱԿԱՆ «ԻՎԵՐԻԱ» ՀԱՄԱՅՆՔ» ԲԱՐԵԳՈՐԾԱԿԱՆ,Հասարակական կազմակերպություն (ՀԿ),Երևան ՕՐԲԵԼԻ ԵՂԲԱՅՐՆԵՐԻ ՓՈՂՈՑ 6 ԲՆ. 44,S94.99.0,1997-03-27,Գործող,Այլ հարկ վճարող*,2024-01-01,94
148931,34929,«ԱՌԳՈ-ՖԱՐՄ»,Սահմանափակ պատասխանատվությամբ ընկերություն (ՍՊԸ),ԱՐԱԲԿԻՐ ՍՈՒՆԴՈՒԿՅԱՆ 13 9,G46.46.2,1997-03-24,Գործող,ԱԱՀ վճարող,2024-01-01,46
148932,34644,ՏՈՍՊ,Սահմանափակ պատասխանատվությամբ ընկերություն (ՍՊԸ),ԵՐԵՎԱՆ Էմինի 32 չկա,L68.31.0,1997-03-19,Գործող,ԱԱՀ վճարող,2024-01-01,68
148933,34524,«ՎԱԼԵՄ»,Սահմանափակ պատասխանատվությամբ ընկերություն (ՍՊԸ),ԵՐԵՎԱՆ ԼԵՆԻՆԳՐԱԴՅԱՆ Փ. 23,I56.10.1,2002-10-10,Գործող,ԱԱՀ վճարող,2024-01-01,56
148934,34394,«ԱՐԱԲԿԻՐ 51-9»,Համատիրություն,ԵՐԵՎԱՆ ԱՐԱԲԿԻՐ 51-9 112,L68.32.1,1997-03-10,Գործող,Այլ հարկ վճարող*,2024-01-01,68

In [199]:
df['Գրանցման ամսաթիվ'] = pd.to_datetime(df['Գրանցման ամսաթիվ'])
df['registration_year'] = df['Գրանցման ամսաթիվ'].dt.year

In [200]:
df.to_csv('../data/taxpayers_prep_data.csv')

In [201]:
grouped_df.to_csv('../data/investments_prep_data.csv')

In [202]:
df.tail()

,ՀՎՀՀ,Անվանում,Կազմակերպա-իրավական տեսակ,Իրավաբանական հասցե,Գործունեության տեսակ,Գրանցման ամսաթիվ,Կարգավիճակ,Հարկման ռեժիմ,Հարկման ռեժիմում հաշվառվելու ամսաթիվ,sector_code,registration_year
148930,35053,«ՎՐԱՑԱԿԱՆ «ԻՎԵՐԻԱ» ՀԱՄԱՅՆՔ» ԲԱՐԵԳՈՐԾԱԿԱՆ,Հասարակական կազմակերպություն (ՀԿ),Երևան ՕՐԲԵԼԻ ԵՂԲԱՅՐՆԵՐԻ ՓՈՂՈՑ 6 ԲՆ. 44,S94.99.0,1997-03-27,Գործող,Այլ հարկ վճարող*,2024-01-01,94,1997
148931,34929,«ԱՌԳՈ-ՖԱՐՄ»,Սահմանափակ պատասխանատվությամբ ընկերություն (ՍՊԸ),ԱՐԱԲԿԻՐ ՍՈՒՆԴՈՒԿՅԱՆ 13 9,G46.46.2,1997-03-24,Գործող,ԱԱՀ վճարող,2024-01-01,46,1997
148932,34644,ՏՈՍՊ,Սահմանափակ պատասխանատվությամբ ընկերություն (ՍՊԸ),ԵՐԵՎԱՆ Էմինի 32 չկա,L68.31.0,1997-03-19,Գործող,ԱԱՀ վճարող,2024-01-01,68,1997
148933,34524,«ՎԱԼԵՄ»,Սահմանափակ պատասխանատվությամբ ընկերություն (ՍՊԸ),ԵՐԵՎԱՆ ԼԵՆԻՆԳՐԱԴՅԱՆ Փ. 23,I56.10.1,2002-10-10,Գործող,ԱԱՀ վճարող,2024-01-01,56,2002
148934,34394,«ԱՐԱԲԿԻՐ 51-9»,Համատիրություն,ԵՐԵՎԱՆ ԱՐԱԲԿԻՐ 51-9 112,L68.32.1,1997-03-10,Գործող,Այլ հարկ վճարող*,2024-01-01,68,1997

In [203]:
grouped_df.tail()

,type_of_activity,code,2014_total,2014_direct,2015_total,2015_direct,2016_total,2016_direct,2017_total,2017_direct,...,2019_total,2019_direct,2020_total,2020_direct,2021_total,2021_direct,2022_total,2022_direct,2023_totoal,2023_direct
46,"travel agency, tour operator and other rezerva...",79,0.1,0.1,10.1,10.1,0.0,0.0,13.6,13.6,...,7.0,7.0,0.0,0.0,0.0,0.0,31.1,31.1,63.5,63.5
47,warehousing and support activities for transpo...,52,62.1,61.2,46.1,45.8,1.1,1.8,0.1,0.0,...,1.4,0.0,0.0,0.0,610.9,610.9,2957.4,2957.4,5462.1,5462.1
48,"water collection, treament and supply",36,305.9,305.9,1739.4,1739.4,2827.7,2827.7,4953.0,4953.0,...,2615.5,2615.5,2037.3,2037.3,2104.5,2104.5,3496.9,3496.9,5070.4,5070.4
49,wholesale and retail trade and repair of motor...,45,85.9,85.9,76.8,76.8,0.0,0.0,0.1,0.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50,"wholesale, trade, except of motor vehicles and...",46,2331.6,1127.7,4405.6,1368.0,1036.5,1947.8,4444.8,4601.7,...,5656.5,5224.7,8230.2,5687.5,4116.7,6808.9,10032.6,5568.0,13828.9,4787.3

In [204]:
df['sector_code'].unique()

array(['69', '45', '55', '47', '56', '10', '79', '68', '1', '96', '62',
       '46', '74', '49', '86', '77', '52', '25', '66', '72', '93', '63',
       '33', '81', '41', '14', '32', '28', '3', '23', '70', '61', '8',
       '15', '20', '64', '17', '11', '24', '42', '35', '92', '27', '94',
       '9', '51', '21', '26', '36', '7', '12'], dtype=object)